// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$beer-red: #EE0619;
$light-gray: #D4D4D4;
$beer-yellow: #FAAC41;
$beer-brown: #230900;
// 592F20

// 261A16
//472519
