// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #D4D4D4;
// 592F20

// 261A16
//472519
$beige-bg: #cda675;
$beige-base: #FFEFD1;
$beige-yellow: #ffc16b;
$charcoal: #313131;
$midnight-blue: #23414c;
