.beer-cards {
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  cursor: pointer;
}

.beer-card {
  display: flex;
  cursor: pointer;
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 7px;
  text-decoration: none;
  transition: 0.3s;
  // &:hover {
  //   opacity: 0.9;
  //   transform: scale(1.1);
  // }
}
.text-gray {
  color: $light-gray;
}

.beer-card-tags {
  display: flex;
  flex-wrap: wrap;
}

.beer-tag {
  border: 2px solid $coral;
  padding: 8px 16px;
  border-radius: 4px;
  color: $coral;
  font-size: 14px;
  margin-right: 4px;
}


.beer-active-tag {
  background-color: $coral;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
.beer-card-link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.beer-card-img {
  width: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 20px;
}

.beer-card-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: between;
  flex-direction: column;
  .beer-card-title {
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
}


