.beers-header {
  font-size: 32px;
}

.beers-search {
  margin: 0 48px;
  text-align: center;
  font-size: 24px;
  background-color: $gray;
  padding: 10px;
  border-radius: 5px;
}

.beers-search-bar {
  width: 80%;
  background-color: transparent !important;
  border: none;
  outline: none;
}

input {
  color: $coral;
}

.beers-search-btn {
  padding: 0 25px;
  background-color: $gray;
  border: 2px solid $coral;
  border-radius: 5px;
  color: $coral;
  &:hover {
  background-color: $coral;
  border-radius: 5px;
  color: $gray;
  }
}

.beer-cards {
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.beer-cards-index {
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.beer-card {
  display: flex;
  cursor: pointer;
  position: relative;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 20px;
  border-radius: 7px;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
  background-color: rgba(250, 250, 250, 1);
  }
}
.text-gray {
  color: $light-gray;
}

.beer-card-tags {
  display: flex;
  flex-wrap: wrap;
}

.beer-tag {
  border: 2px solid $coral;
  padding: 8px 16px;
  border-radius: 4px;
  color: $coral;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 4px;
}


.beer-active-tag {
  background-color: $coral;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
.beer-card-link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.beer-card-img {
  width: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 20px;
}

.beer-card-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: between;
  flex-direction: column;
  .beer-card-title {
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
}

.beers-btn {
  font-size: 24px;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: $gray;
  color: $coral;
  &:hover {
    background-color: $coral;
    color: $gray;
    text-decoration: none;
  }
}
