.container.beers-index {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 183px);
    top: 138px;
    left: 0;
    background-color: $beige-base;
    border-radius: 7px;
    z-index: 0;
  }
}

.show-header {
  font-size: 52px;
  font-family: $headers-font;
  text-shadow: 2.5px 2.5px 0px $charcoal;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 0;
  color: $beige-bg;
  margin-top: 30px;

}

.beer-show-container {
  display: flex;
}

.beer-left-half {
  width: 50vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.beer-right-half {
  background-color: $midnight-blue;
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 80%;
  }

  .hidden {
    display:none;
  }
}

.beer-info {
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
}

.fa-heart {
  color: $beige-bg;
}

.show-tag {
  border: 2px solid $midnight-blue;
  padding: 8px 16px;
  border-radius: 4px;
  color: $midnight-blue;
  font-size: 14px;
  margin-right: 4px;
}

.show-tag-active {
  border: 2px solid $beige-bg;
  background-color: $beige-bg;
  padding: 5px 36px;
  border-radius: 4px;
  color: #23414c;
  font-size: 17px;
  margin-right: 9px;
}


.pub-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  background-color: $beige-base;
  border-radius: 5px;
}

.pub-card {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  .form-check-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .pub-card-image {
    transition: .3s;
    padding: 3px;
    margin-bottom: 16px;
  }
}

.pub-card-active {
  .pub-card-image {
    border: 3px solid $beige-bg;
    border-radius: 8px;
    padding: 3px;
  }
}

.pub-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.font-heading {
  font-size: 24px;
}

.pub-card-title p {
  margin: 0 !important;
  padding: 0px 6px;
}

.pub-distance {
  color: gray;
}

.show-all {
  text-decoration: none;
  color: $beige-bg;
  &:hover {
    text-decoration: none;
    color: $beige-base;
  }
}

.show-btn {
  padding: 10px 50px;
    border: 2px solid #cda675;
    background-color: #cda675;
    border-radius: 5px;
    color: #23414c;
  &:hover {
    text-decoration: none;
    background-color: $beige-base;
  }
}

.show-description {
  color: $beige-base;
  padding: 10px;

}




