.beer-red {
  color: red;

}

.beer-blue {
  color: blue;
}

.btn-view-all {
  padding: 20px;
}

.beer-card-home {
  display: flex;
}

// .beer-card-left {
//   width: 50vw;
//   height: 100vh;
//   background-size: cover;
//   background-position: center;
// }

// .beer-card-right {
//   position: relative;
//   width: 50vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   .content {
//     width: 80%;
//   }

//   .hidden {
//     display:none;
//   }
// }
