.container {
  background-color: $beer-yellow;
}

.beer-show-container {
  display: flex;
}

.beer-left-half {
  width: 50vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.beer-right-half {
  background-color: $beer-yellow;
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 80%;
  }

  .hidden {
    display:none;
  }
}

.beer-info {
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
}

.fa-heart {
  color: $beer-brown;
}

.show-tag {
  border: 2px solid $beer-red;
  padding: 8px 16px;
  border-radius: 4px;
  color: $beer-red;
  font-size: 14px;
  margin-right: 4px;
}

.show-tag-active {
  border: 2px solid $beer-brown;
  background-color: $beer-brown;
  padding: 8px 16px;
  border-radius: 4px;
  color: $beer-red;
  font-size: 14px;
  margin-right: 4px;
}


.pub-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 5px;
}

.pub-card {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  .form-check-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .pub-card-image {
    transition: .3s;
    padding: 6px;
    margin-bottom: 16px;
  }
}

.pub-card-active {
  .pub-card-image {
    border: 3px solid $beer-brown;
    border-radius: 8px;
    padding: 3px;
  }
}

.pub-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.font-heading {
  font-size: 24px;
}

.pub-card-title p {
  margin: 0 !important;
  padding: 0px 6px;
}

.pub-distance {
  color: $light-gray;
}

.show-all {
  text-decoration: none;
  color: $beer-brown;
  opacity: 0.5;
  &:hover {
    text-decoration: none;
    color: $beer-brown;
    opacity: 1;
  }
}

.show-btn {
  padding: 10px 50px;
  border: 2px solid $beer-red;
  background-color: $beer-red;
  border-radius: 5px;
  color: $beer-brown;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

