.choice-show-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.item-right-half {
  width: 50%;
  height: 100vh;
}

.item-left-half {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 4px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  text-shadow: 2.5px 2.5px 0px $beige-yellow;
}

.icons {

  bottom: 12px;
  left: 15%;
}

.icon {
  font-size: 28px;
  display: block;
  margin-right: 10px;
  text-decoration: none;
  color: $midnight-blue;
    &:hover {
      color: $beige-yellow;
    }
}

.icon a {
  text-decoration: none;
}

.calendar-container {
  display: flex;
  justify-content: center;
}

.addeventatc {
  display: flex !important;
  border: 1px solid black;
  max-width: 200px;
  background-color: $midnight-blue;
  border-radius: 3px;
  color: $beige-base;
  padding: 6px;
  font-size: 10px;
  margin-top: 20px;
  &:hover {
    color: blue;
  }

  .calendar {
    order: 2;

  }

  #addeventatc1-drop {

    order: 1;
  }
}

/* The button */
.addeventatc              {display:inline-block;position:relative;}
.addeventatc:hover            {color:$beige-yellow;font-size:15px;text-decoration:none;}
.addeventatc .start, .addeventatc .end, .addeventatc .timezone, .addeventatc .title, .addeventatc .description, .addeventatc .location, .addeventatc .organizer, .addeventatc .organizer_email, .addeventatc .facebook_event, .addeventatc .all_day_event, .addeventatc .date_format, .addeventatc .alarm_reminder, .addeventatc .recurring, .addeventatc .attendees, .addeventatc .calname, .addeventatc .uid, .addeventatc .status, .addeventatc .method, .addeventatc .client, .addeventatc .transp {display:none!important;}

/* The drop down */
.addeventatc_dropdown           {position:relative;text-align:left;display:block!important;left:auto!important;top:auto!important;text-decoration:none;font-size:16px;}
.addeventatc_dropdown span        {display:inline-block;position:relative;line-height:110%;text-decoration:none;font-size:16;color: $beige-yellow;cursor:pointer;padding:10px 14px 8px 12px;margin:0px 5px 0px 0px;}
.addeventatc_dropdown span:hover    {text-decoration:none; color: $beige-base;}
.addeventatc_dropdown span:active     {top:0px;}
.addeventatc_dropdown em        {font-weight:400;color:#888;font-size:12px;display:none;}
.addeventatc_dropdown .ateoutlook     {border-top:3px solid #fa9d00;}
.addeventatc_dropdown .ategoogle    {border-top: none}
.addeventatc_dropdown .ateoffice365   {border-top:3px solid #e53a00;}
.addeventatc_dropdown .ateoutlookcom  {border-top:3px solid #1473c5;}
.addeventatc_dropdown .ateyahoo     {border-top:3px solid #65106e;}
.addeventatc_dropdown .ateappleical   {border-top:3px solid #ab373a;}
.addeventatc_dropdown .atefacebook    {border-top:3px solid #43609c;}
.addeventatc_dropdown .copyx      {display:none;}
.addeventatc_dropdown .brx        {display:none;}
