// Specific CSS for your home-page
.container-hop {
  width: 600px;
  margin: 20px auto;

}

.home-nav h4 {
  font-family: $body-font;
}

.hop-logo {
  width: 120px;
}

.top-box {
  background-color:$base;
  padding: 10px 50px 20px 50px;
  border-radius: 10px;
}

.top-box h2, h3, h5{
  font-family: $body-font;
}

.top-box h5 a {
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $coral;
  }
}

.bottom-box {
  margin-top: 15px;
  padding: 20px 30px;
  background-color: $gray;
  border-radius: 10px;
}

.bottom-box h4 {
  color: $base;
  font-family: $body-font;
  margin-bottom: 18px;
}

.box-shadow {
  text-shadow: 5px 3px 0px #F9827B;
  font-size: 110px;
}






