// Specific CSS for your home-page
body {
  background-color: $beige-bg;
  letter-spacing: 1px;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-hop {
  width: 600px;
  margin: 0px auto;
  position: relative;
}

.top-top-box {
  display: flex;
  justify-content: center;
}

.home-nav {
  width: 300px;
}

.log-in-btn-homepage {
  position: absolute;
  right: 0px;
  top: 25px;
}
.home-nav h4 {
  font-family: $headers-font;
  color: white;
  text-shadow: $white 2px 2px;
}

.hop-logo {
  width: 120px;
}

.second-header {
  letter-spacing: 1px;
  color: white;
  text-shadow: $white 2px 2px;
}

.top-box {
  background-color: $beige-base;
  padding: 10px 50px 20px 50px;
  border-radius: 4px;
}

.top-box h2, h3, h5{
  font-family: $body-font;
}

.top-box h5 a {
  text-decoration: none;
  color: $beer-red;
  &:hover {
    color: $beer-brown;
  }
}

.bottom-box {
  margin-top: 15px;
  padding: 20px 30px;
  background-color: $beige-base;
  border-radius: 4px;
}

.bottom-box h4 {
  color: $beer-brown;
  font-family: $body-font;
  margin-bottom: 18px;
}

.box-shadow {
  text-shadow: 5px 3px 0px black;
  font-size: 110px;
  font-weight: bold;
  letter-spacing: 3px;
}






