.profile-container {
  display: flex;
  justify-content: flex-start;
}

.profile-left {
  width: 25%;
}

.user-avatar {
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.choice-titles-buttons {
  padding: 0px 50px;
}
