.profile-container {
  margin: 16px;
  padding-right: 48px;
  padding-left: 48px;
  background-color: #FFEFD0;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

h2 {
  text-shadow: 1.5px 1.5px 0px $beige-yellow;
}

.profile-left {
  padding-top: 48px;
}

.show-all-btn {
  width: 96px;
  text-align: center;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 20px;
  text-decoration: none;
  background-color: $midnight-blue;
  color: $beige-base;
  transition: 0.3s;
  &:hover {
    background-color: $midnight-blue;
    color: $beige-base;
    text-decoration: none;
  }
}

.show-all-btn[aria-expanded="false"]:before{
  content:"View all";
}

.show-all-btn[aria-expanded="true"]:before{
  content:"Hide";
}

.profile-right {
  margin-top: 96px;
  padding: 48px;
  position: sticky;
  top: 0;
  width: 25%;
  height: 500px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
}

.user-avatar {
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.choice-titles-buttons {
  padding: 0px 50px;
}

.badges {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.active {
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: $midnight-blue;
  color: $beige-yellow;
  border-radius: 50%;
  text-align: center;
}

li {
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: rgba(212, 212, 212, 0.5);
  color: rgba(49, 49, 49, 0.5);
  border-radius: 50%;
  text-align: center;
}

.show-card-title {
  font-size: 24px;
  text-align: right;
}
