.hop-it-btn {
  padding: 6px 80px;
  color: $beer-yellow;
  font-size: 30px;
  background-color: $beer-red;
  width: 100%;
  margin: 24px 0 24px 0;
  transition-duration: 0.3s;
  &:hover {
    text-decoration: none;
    color: $beer-red;
    background-color: $beer-brown;
  }
  &:after {
    width: 64px;
    height: 64px;
    background-color: blue;
  }
}

.hop-it-btn-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  span {
    width: 64px;
    height: 64px;
    background-color: $beer-yellow;
    transform: rotate(45deg);
  }
  .left-square {
    position: absolute;
    left: -45px;
  }
  .right-square {
    position: absolute;
    right: -45px;
  }
}



.random-btn {
  padding: 10px 50px;
  background-color: $beer-red;
  max-width: 160px;
  border-radius: 5px;
  color: $beer-brown;
  &:hover {
    background-color: $beer-brown;
    color: $beer-red;
    border: 1px solid $beer-red;
    text-decoration: none;
  }
}

.home-search-btn {
  padding: 15px;
  margin: 10px;
  background-color: $beer-yellow;
  text-decoration: none;
  color: $beer-brown;
  border: 3px solid $beer-brown;
  border-radius: 3px;
  padding: 5px;
  transition: 0.3s;
  &:hover {
    color: $beer-red;
    text-decoration: none;
    border: 3px solid transparent;
  }
}

.home-search-btn-1 {
  padding: 15px;
  margin: 10px;
  background-color: $beer-yellow;
  text-decoration: none;
  color: $beer-brown;
  border: 3px solid $beer-yellow;
  border-radius: 3px;
  padding: 5px;
  transition: 0.3s;
  &:hover {
    color: $beer-red;
    text-decoration: none;
    border: 3px solid transparent;
  }
}

.home-random-btn {
  border: 1px $beer-red solid;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: 0.4s;
  text-decoration: none;
  color: $beer-red;
  transition: 0.3s;
  &:hover {
    background-color: $beer-red;
    color: $beer-brown;
    text-decoration: none;
    border: 1px solid $beer-brown;
  }
}

