.hop-it-btn {
  padding: 6px 80px;
  color: $beige-yellow;
  font-size: 30px;
  background-color: $midnight-blue;
  width: 100%;
  margin: 24px 0 24px 0;
  &:hover {
    text-decoration: none;
    color: $midnight-blue;
    background-color: $beige-bg;
  }
  &:after {
    width: 64px;
    height: 64px;
    background-color: blue;
  }
}


/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.hop-it-btn-container {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  transition-duration: 0.3s;
  animation: wiggle 2s linear infinite;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  transform-origin: 50% 5em;
  span {
    width: 64px;
    height: 64px;
    background-color: #FFEFD1;
    transform: rotate(45deg);
  }
  .left-square {
    position: absolute;
    left: -45px;
  }
  .right-square {
    position: absolute;
    right: -45px;
  }
}



.random-btn {
  padding: 10px 50px;
  background-color: $midnight-blue;
  max-width: 160px;
  border-radius: 5px;
  color: $beige-bg;
  &:hover {
    background-color: $beige-bg;
    color: $midnight-blue;
    border: 1px solid $midnight-blue;
    text-decoration: none;
  }
}

.home-search-btn {
  padding: 15px;
  margin: 10px;
  background-color: $beige-yellow;
  text-decoration: none;
  color: $beige-bg;
  border: 3px solid $beige-bg;
  border-radius: 3px;
  padding: 5px;
  transition: 0.3s;
  &:hover {
    color: $midnight-blue;
    text-decoration: none;
    border: 3px solid transparent;
  }
}

.home-search-btn-1 {
  padding: 15px;
  margin: 10px;
  background-color: $beige-base;
  text-decoration: none;
  color: $beige-bg;
  border: 3px solid $beige-base;
  border-radius: 3px;
  padding: 5px;
  transition: 0.3s;
  &:hover {
    color: $midnight-blue;
    text-decoration: none;
    border: 3px solid transparent;
  }
}

.home-random-btn {
  border: 1px $midnight-blue solid;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: 0.4s;
  text-decoration: none;
  color: $midnight-blue;
  transition: 0.3s;
  &:hover {
    background-color: $midnight-blue;
    color: $beige-bg;
    text-decoration: none;
    border: 1px solid $beige-bg;
  }
}

