.hop-it-btn {
  padding: 6px 80px;
  color: $base;
  font-size: 30px;
  background-color: $gray;
  width: 100%;
  margin: 24px 0 24px 0;
  transition-duration: 0.3s;
  &:hover {
    text-decoration: none;
    color: $gray;
    background-color: $coral;
  }
  &:after {
    width: 64px;
    height: 64px;
    background-color: blue;
  }
}

.hop-it-btn-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 20%;
  margin: 0 auto;
  span {
    width: 64px;
    height: 64px;
    background-color: $base;
    transform: rotate(45deg);
  }
  .left-square {
    position: absolute;
    left: -45px;
  }
  .right-square {
    position: absolute;
    right: -45px;
  }
}



.random-btn {
  padding: 20px 50px;
  background-color: $gray;
  max-width: 160px;
  border-radius: 5px;
  color: $coral;
  &:hover {
    background-color: $coral;
    color: $gray;
    border: 1px solid $gray;
    text-decoration: none;
  }
}

.home-search-btn {
  padding: 15px;
  margin: 10px;
  background-color: $base;
  text-decoration: none;
  color: $coral;
  border: 3px solid $coral;
  padding: 5px;
  transition: 0.3s;
  &:hover {
    color: $gray;
    text-decoration: none;
    border:none;
  }
}

.home-random-btn {
  border: 1px $gray solid;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: 0.4s;
  text-decoration: none;
  color: $gray;
  transition: 0.3s;
  &:hover {
    background-color: $gray;
    color: $coral;
    text-decoration: none;
    border: 1px solid $coral;
  }
}

