.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 8px;
}

.navbar {
  padding: 0 0;
}

.navbar-a {
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -56px;
  position: relative;
  top: 10px;
  z-index: 1;
  padding: 0 0;
}
