.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 8px;
}

.navbar {
  padding: 0 0;
}

.navbar-a {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  // margin-bottom: -56px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.background-nav {
  background-color: $beige-bg;
  padding: 4px;
  margin-right: 4px;
  border-radius: 2px;
}
